.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10% 10px 10%;
  font-family: "Monsterrat", sans-serif;
}

.navbar-logo-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  font-family: "Monsterrat", sans-serif;
}

.nav-routes {
  display: flex;
}

li {
  list-style: none;
}
