.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(21, 22, 26, 0.88);
  padding: 10px 10% 10px 10%;
  font-family: "Monsterrat", sans-serif;
}

.navbar-logo-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
}

.navbar-brand .brand {
  font-size: 1.6em;
}

.navbar-brand .moto {
  font-size: 1em;
}

.fa-bars {
  color: #fff;
  font-size: 1.5em;
}

.nav-routes {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 900px) {
  .Navbar {
    padding: 10px 30px 10px 30px;
  }
}

@media screen and (max-width: 780px) {
  .Navbar {
    padding: 10px 10px 10px 10px;
  }

  .nav-routes {
    display: flex;
    flex-direction: column;
  }
}
